{% extends "base.html" %} {% block content %}

  <div
    class="card shadow-lg p-4 p-md-5 m-auto mt-5"
    style="max-width: 300px;  border-radius: 1rem"
  >
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-4">
          <label for="identifier" class="form-label fw-semibold"
            >Email or Phone Number</label
          >
          <input
            type="text"
            class="form-control"
            id="identifier"
            name="identifier"
            style="border-radius: 0.5rem"
          />
        </div>

        <button
          type="submit"
          class="btn btn-primary  btn-sm fw-bold"
          style="border-radius: 0.5rem"
        >
          Login
        </button>
      </form>
    </div>
  </div>

{% endblock %}
